@model IEnumerable<CGI.Models.Journey>
@{
    ViewData["Title"] = "Manage Journey";
}

<h2>Journeys</h2>

<table>
    <thead>
    <tr>
        <th>Start</th>
        <th>End</th>
        <th>Total Distance</th>
        <th>Total Emission</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var journey in Model)
    {
        <tr>
            <td>@journey.Start</td>
            <td>@journey.End</td>
            <td>@journey.Total_Distance</td>
            <td>@journey.Total_Emission</td>
            <td>@journey.Date.ToString("dd-MM-yyyy")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@journey.Journey_ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@journey.Journey_ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create">Add Journey</a>
