@model JourneyViewModel
 @{
        ViewData["Title"] = "Journeys";
}

<div class="flex flex-columns gap-16">
    <ul class="overflow-auto h-screen w-96">
        @foreach (var journey in Model.Journeys)
        {
            <a href="~/journey?id=@journey.Journey_ID">           
                <li class="p-2 border-gray-200 border-b @(@Model.Id == @journey.Journey_ID ? "bg-green-200" : "bg-gray-50 hover:bg-gray-100")">
                    <h2>@journey.Start - @journey.End | @journey.Date.ToShortDateString()</h2>
                    <p>
                        Total emission: @journey.Total_Emission gr<br />
                        Total distance: @journey.Total_Distance km
                    </p>
                </li>
            </a>
        }
    </ul>
    <div>
        <h1>Stopovers</h1>
        @if (Model.Stopovers.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th>Vehicle</th>
                        <th>Distance</th>
                        <th>Emission</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var stopover in Model.Stopovers)
                    {
                        <tr>
                            <td>@stopover.Start</td>
                            <td>@stopover.End</td>
                            <td>@stopover.VehicleID</td>
                            <td>@stopover.Distance</td>
                            <td>@stopover.Emission</td>
                            <td class="grid grid-cols-2">
                                <a asp-controller="stopover" asp-action="edit" asp-route-id="@Model.Id">
                                    <button class="py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg shadow-md transition duration-300">Edit</button>
                                </a>
                                <form asp-controller="stopover" asp-action="delete" asp-route-id="@stopover.StopoverID" class="destroy">
                                    <input type="hidden" name="StopoverID" value="@stopover.StopoverID" />
                                    <button class="py-2 px-4 bg-red-500 hover:bg-red-600 text-white font-semibold rounded-lg shadow-md transition duration-300" type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }

                    <tr class="border-t">
                        @foreach (var journey in Model.Journeys)
                        {
                            @if (@Model.Id == @journey.Journey_ID)
                            {
                                <td>@journey.Start</td>
                                <td>@journey.End</td>
                                <td></td>
                                <td>@journey.Total_Distance</td>
                                <td>@journey.Total_Emission</td>
                                <td class="grid grid-cols-2">
                                    <a asp-controller="journey" asp-action="edit" asp-route-id="@Model.Id">
                                        <button class="py-2 px-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg shadow-md transition duration-300">Edit</button>
                                    </a>
                                    <form asp-controller="journey" asp-action="Delete" asp-route-id="@Model.Id" class="destroy">    
                                        <button class="py-2 px-4 bg-red-500 hover:bg-red-600 text-white font-semibold rounded-lg shadow-md transition duration-300" type="submit">Delete</button>
                                    </form>
                                </td>
                            }
                        }
                    </tr>
                </tbody>
            </table>                
        } 
        else
        {
            <p>No stopovers found</p>
        }
    </div>
</div>