@model IEnumerable<CGI.Models.Journey>
@{
    ViewData["Title"] = "Manage Journey";
}

<div class="flex">
    <div class="border-2 border-black overflow-y-auto h-screen w-1/4">
        <ul>
            @foreach (var journey in Model)
            {
                var selected = "";
                if (ViewContext.RouteData.Values["controller"].ToString().Equals("Journey", StringComparison.OrdinalIgnoreCase) && ViewContext.RouteData.Values["action"].ToString().Equals("Index", StringComparison.OrdinalIgnoreCase) && ViewContext.RouteData.Values["id"]?.ToString() == journey.Journey_ID.ToString())
                {
                    selected = "bg-green-400 active:bg-green-300";
                }

                <li class="border-b-2 border-black px-2 py-1 cursor-pointer hover:bg-green-400 @selected" data-journey-id="@journey.Journey_ID" onclick="showJourneyDetails('@journey.Journey_ID')">
                    <h2>@journey.Start - @journey.End | @journey.Date.ToShortDateString()</h2>
                    <p>Totale afstand: @journey.Total_Distance km</p>
                </li>
            }

            @section Scripts {
                <script>
                    function showJourneyDetails(journeyId) {
                        window.location.href = "/journey/index/" + journeyId;
                    }
                </script>
            }
        </ul>
    </div>
    <div class="relative overflow-hidden flex-1 custom-font">
        <div class="px-4 py-2 bg-gray-300 text-center">
            <h1>Journey Information</h1>
        </div>
        <div class="relative">
            <button class="absolute top-4 right-4 z-0 border-black border-2 bg-red-600 hover:bg-red-400 active:bg-red-200 px-4 py-2 rounded-md">Delete journey</button>
        </div>
        <div class="p-5 mb-20">
            <div>
                <h3 class="inline-block mr-1">Date:</h3>
                <p class="inline-block" id="journey-date"></p>
            </div>
            <div>
                <h3 class="inline-block mr-1">Total distance:</h3>
                <p class="inline-block" id="journey-distance"></p>
                <p class="inline-block">km</p>
            </div>
        </div>
        <div class="px-4 py-2 border-black border-solid border-b-2">
            <h3>Stopovers:</h3>
        </div>
    </div>
</div>

<script>
    function showJourneyDetails(journeyId) {
      // Change the URL to include the journey ID
      history.pushState(null, null, "/journey/" + journeyId);

      // Update the journey informa    tion displayed on the page
      document.getElementById("journey-date").innerHTML = ...;
      document.getElementByI    d("journey-distance").innerHTML = ...;
      ...
    }
</script>