@model List<Journey>
@{
    ViewData["Title"] = "Journeys";
    int totalstopovers = 0;
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        let journeyAddedNotification = localStorage.getItem('JourneyAddedNotification');
        if (journeyAddedNotification) {
            // Remove the stored notification from localStorage
            localStorage.removeItem('JourneyAddedNotification');

            // Show success notification
            toastr.success('Journey added', 'Successfully added journey');
        }
    </script>
</head>

<div class="flex h-16 bg-gray-50 drop-shadow-lg">
    <h1 class="mx-auto my-auto">Journeys</h1>
</div>

<div class="flex justify-center items-start h-[calc(100vh-4rem)] bg-slate-200 overflow-auto scrollbar-hide">
    <div class="bg-slate-100 w-3/4 p-6 rounded-xl shadow-xl mt-20 h-auto mb-10">
        @if(Model.Count() > 0)
        {
            <ul>
                @{
                    List<Journey> orderedJourneys = (Model.OrderByDescending(x => x.Date)
                                                    .ToList());
                }
                @foreach (var journey in orderedJourneys)
                {
                    <li class="pb-3 px-8">
                        <div class="bg-white rounded-lg shadow-md p-6">
                            <div class="flex justify-between items-center">
                                <div>
                                    <div class="font-bold text-lg">@journey.Start - @journey.End | @journey.Date.ToShortDateString()</div>
                                    <div>Distance: @journey.Total_Distance</div>
                                    <div>Emission: @journey.Total_Emission gr</div>
                                </div>
                                <a href="@Url.Action("Details", "Journey", new { id = journey.Journey_ID })">
                                    <button class="bg-blue-500 text-white px-8 py-2 rounded-lg">View</button>
                                </a>

                            </div>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <h2>No journeys found :(</h2>
        }
    </div>
</div>

<script>

    
    function toggleEdit(total) {

        for (let i = 1; i <= total; i++) 
        {

            console.log("edit-container-" + i);
            var editContainer = document.getElementById("edit-container-" + i);

          

            if (editContainer.style.display === "none") {
                editContainer.style.display = "block";
            } else {
                editContainer.style.display = "none";
            }
        
            
        }
        
    }

</script>
<style>
    .edit-button,
    .delete-button {
        display: inline-block;
        margin-right: 10px;
    }
</style>