    @model List<LeaderboardViewModel>
    @{
        ViewData["Title"] = "Home Page";
        int ranking = 0;
    }

    <div class="grid grid-cols-3 gap-5">
        <div class="cols-span-1">
            <br />
            <button onclick="location.href='./journey/create';" class="text-2xl text-white border-white " style="border: 5px solid; padding: 20px; background-color: black; width: 250px; height: 100px;">
                Create Journey
            </button>
            <br />
            <button onclick="location.href='./journey';" class="text-2xl text-white border-white" style="border: 5px solid; padding: 20px; background-color: black; width: 250px; height: 100px;">
                Manage Journeys
            </button>
            <br />
            <button onclick="location.href='./home/privacy';" class="text-2xl text-white border-white" style="border: 5px solid; padding: 20px; background-color: black; width: 250px; height: 100px;">
                Manage Groups
            </button>
            <br />
            <button onclick="location.href='./account/logout';" class="text-2xl text-white border-white" style="border: 5px solid; padding: 20px; background-color: black; width: 250px; height: 100px;">
                Log Out
            </button>
        </div>
        <div class="cols-span-1 text-4xl text-center">
            <p class="mt-10">Welcome</p>
            <p class="">@User.Identity.Name</p>
        </div>

        <div class="cols-span-1">
                    <table class="table-auto w-full bg-transparent h-screen border-black border-4 text-center">
            <thead>
                <tr class="border-b-4 border-black">
                    <th class="px-4 py-2">Rank</th>
                    <th class="px-4 py-2">Player</th>
                    <th class="px-4 py-2">Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leaderboardViewModel in Model)
                {
                    ranking++;
                    if(ranking == 1)
                    {
                        <tr>
                           <td class="text-3xl px-4 py-2 text-amber-500">@ranking</td>
                           <td class="text-3xl px-4 py-2 text-amber-500">@leaderboardViewModel.userName</td>
                           <td class="text-3xl px-4 py-2 text-amber-500">@leaderboardViewModel.score</td>     
                        </tr>
                    }
                    else if (ranking == 2)
                    {
                        <tr>
                           <td class="text-2xl px-4 py-2 text-stone-400">@ranking</td>
                           <td class="text-2xl px-4 py-2 text-stone-400">@leaderboardViewModel.userName</td>
                           <td class="text-2xl px-4 py-2 text-stone-400">@leaderboardViewModel.score</td>     
                        </tr>
                    }
                    else if (ranking == 3)
                    {
                        <tr>
                         <td class="text-xl px-4 py-2 text-amber-800">@ranking</td>
                         <td class="text-xl px-4 py-2 text-amber-800">@leaderboardViewModel.userName</td>
                         <td class="text-xl px-4 py-2 text-amber-800">@leaderboardViewModel.score</td>     
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td class="text-l px-4 py-2">@ranking</td>
                            <td class="text-l px-4 py-2">@leaderboardViewModel.userName</td>
                            <td class="text-l px-4 py-2">@leaderboardViewModel.score</td>     
                        </tr>
                    }
                    if (ranking == 10)
                    {
                        break;
                    }
                }
            </tbody>
        </table>
    </div>