@model List<LeaderboardViewModel>
@{
	ViewData["Title"] = "Home Page CGI";
	var ranking = 0;
}



<div class="p-4">
    <div class="flex justify-center">
        @foreach (var leaderboardViewModel in Model)
        {
            ranking++;
            if (ranking <= 3)
            {
                <div class="mx-4">
                    <div class="text-center @(@ranking == 1 ? "text-[#D4AF36]" : "") @(@ranking == 2 ? "text-[#C0C0C0]" : "")@(@ranking == 3 ? "text-[#9F7A34]" : "")">
                        <div class="text-4xl font-bold">
                            @ranking
                        </div>
                        <p class="text-xl">
                            @leaderboardViewModel.userName
                        </p>
                        <p>
                            Score: @leaderboardViewModel.score
                        </p>
                    </div>
                    <div class="h-@(20 * (4 - ranking)) bg-gradient-to-t from-gray-400 via-gray-200 to-transparent"></div>
                </div>
            }
            else
            {
                break;
            }
        }
    </div>

    <div class="mt-8 border border-gray-400">
        <table class="table-auto w-full text-center">
            <thead>
                <tr>
                    <th class="px-4 py-2">Rank</th>
                    <th class="px-4 py-2">Player</th>
                    <th class="px-4 py-2">Score</th>
                </tr>
            </thead>
            <tbody>
                @{ ranking = 3;}
                @foreach (var leaderboardViewModel in Model.Skip(3))
                {
                    ranking++;
                    <tr>
                        <td class="text-l px-4 py-2">@ranking</td>
                        <td class="text-l px-4 py-2">@leaderboardViewModel.userName</td>
                        <td class="text-l px-4 py-2">@leaderboardViewModel.score</td>
                    </tr>
                    if (ranking == 10)
                    {
                        break;
                    }
                }
            </tbody>
        </table>
    </div>
</div>
