@model CGI.Models.Stopover



h2>Edit Journey</h2>
<table>
    <thead>
        <tr>
            <th>Stopover ID</th>
            <th>Vehicle ID</th>
            <th>Journey ID</th>
            <th>Distance</th>
            <th>Start</th>
            <th>End</th>
            <th>Emission</th>
        </tr>
    </thead>
    <tbody>
        <tr class="bg-200">
            <td>@Model.StopoverID</td>
            <td>@Model.VehicleType</td>
            <td>@Model.JourneyID</td>
            <td>@Model.Distance</td>
            <td>@Model.Start</td>
            <td>@Model.End</td>
            <td>@Model.Emission</td>
        </tr>
    </tbody>
</table>